.App {
  font-family: sans-serif;
}

form {
  display: flex;
}
.main {
  width: 360px;
  margin: 10px auto;
}
.main div {
  margin: 3px;
}
lable {
  display: inline-block;
  width: 110px;

}
.radio_wrapper {
  width: 500px;
  display: flex;
  
}
.radio_lable {
  display: flex;
}
.radio_lable lable{
  margin: auto;
}

.btn_holder {
  display: flex;
  justify-content: center;

  margin-top: 20px;
  margin-bottom: 30px;
}

.tost {
  display: none;
}
.btn{
  margin-right: 8px;
}
.display{
  display: flex;
  margin: 30px;
  flex-direction: column;
  border: 1px solid gray;
}
.display>div{
  display: flex;
  align-items: center;
  padding: 2px;
}
.display>div>h4{
margin: 10px;
}
.display>div>p{
  margin-left: 10px;
}